.status-card {
  width: 450px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.status-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}

.status-select,
.status-btn {
  transition: 0.3s ease;
}

.status-select:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.status-btn:hover {
  transform: scale(1.05);
}
